<template name="createAgent">
  <div class="form-header">
    <h1>Create an Agent</h1>
  </div>
  <div class="form-container flex-column flex-start">
    {{#autoForm collection="Agents" id="addNewAgent" type="insert" class="add-form"}}
      <fieldset class="form-fieldset flex-column flex-start">
          {{> afFieldInput name='agentid'}}
          {{> afFieldInput name='datecreated'}}
          <div class="form-field flex-row flex-start">
            <span>Full Name:</span>
            {{> afFieldInput name='name' type='text'}}
          </div>
          <div class="form-field flex-row flex-start">
            <span>Email:</span>
            {{> afFieldInput name='email' type='text' }}
          </div>
          <div class="form-field flex-row flex-start">
            <span>Agent Type:</span>
            {{> afFieldInput name='type' type='select' options="allowed"}}
          </div>
          <div class="form-field flex-row flex-start">
            <span>Callsign:</span>
            {{> afFieldInput name='callsign' type='text'}}
          </div>
          <div class="form-field flex-row flex-start">
            <span>Status:</span>
            {{> afFieldInput name='status' type='select' options="allowed"}}
          </div>
          <div class="button-container flex-row">
            <button id="cancel-form">Cancel</button>
            <button id="submit-form" type="submit">Submit</button>
          </div>
      </fieldset>
    {{/autoForm}}
  </div>
</template>
