<template name="controllerDashboard">
  <div class="controller-header">
    <h1>Welcome, {{callsign}}</h1>
  </div>

  <div class="section-container flex-column flex-start">
    <div class="control-section flex-column flex-start">
      <h1>Agent Control</h1>
      <div class="control-container flex-row flex-center">
        <div class="control-list flex-column flex-start">
          {{#each agents}}
            {{agentCallsign}}
          {{/each}}
        </div>
        <div class="control-add">
          <a href="#">Add an Agent</a>
        </div>
      </div>
    </div>
    <div class="control-section flex-column flex-start">
      <h1>Assignment Control</h1>
      <div class="control-container flex-row flex-center">
        <div class="control-list flex-column flex-start">
          {{#each assignments}}
            {{title}}
          {{/each}}
        </div>
        <div class="control-add">
          <a href="#">Add an Assignment</a>
        </div>
      </div>
    </div>
  </div>

  <button id="logout">Logout</button>
</template>
