<template name="controllerDashboard">
  <div class="controller-header flex-row flex-center">
    <h1>Dashboard</h1>
    <div class="vertical-divider"></div>
    <h1>{{controllerCallsign}}</h1>
  </div>

  <div class="section-container">
    <div class="control-section one active flex-column flex-start">
      <h1 class="control-title">Agent Control</h1>
      <div class="control-container flex-row flex-start">
        <div class="control-list flex-column flex-start">
          {{#each agents}}
            <a class="agent-item" href="/control-dash/edit/agent/{{agentid}}">
              <div class="control-item flex-row flex-start">
                <span>{{callsign}} ({{name}}, {{email}}) - {{type}}</span>
              </div>
            </a>
          {{/each}}
        </div>
        <div class="control-panel flex-column flex-start">
          <a id="add-agent" href="/control-dash/add/agent"><button>Add an Agent</button></a>
            <div class="select-div">
                Filter Agents
                <select id="filter-agent" selected="Filter">
                    <option value="Designer">Designers</option>
                    <option value="Developer">Developers</option>
                    <option value="Analyst">Analysts</option>
                    <option value="Strategist">Strategists</option>
                    <option value="Writer">Writers</option>
                </select>
            </div>
            <button id="sort-agent">Sort Agents</button>
        </div>
      </div>
    </div>
    <div class="control-section two flex-column flex-start">
      <h1 class="control-title">Assignment Control</h1>
      <div class="control-container flex-row flex-start">
        <div class="control-list flex-column flex-start">
          {{#each assignments}}
            <a class="assignment-item" id="edit-assignment" href="/control-dash/edit/assignment/{{assignmentid}}">
              <div class="control-item flex-row flex-start">
                <span>{{title}}</span>
                <span class="assignment-date">Due in {{formatDate deadline}}</span>
              </div>
            </a>
          {{/each}}
        </div>
        <div class="control-panel flex-column flex-start">
          <a id="add-assignment" href="/control-dash/add/assignment"><button>Add an Assignment</button></a>
            <div class="select-div">
                Filter Assignments
                <select id="filter-assignment" selected="Filter">
                    <option value="Development">Development</option>
                    <option value="Copy">Copy</option>
                    <option value="Design">Design</option>
                    <option value="Analysis">Analysis</option>
                    <option value="Strategy">Strategy</option>
                </select>
            </div>
          <button id="sort-assignment">Sort Assignments</button>
        </div>
      </div>
    </div>
    <div class="control-section three flex-column flex-start">
      <h1 class="control-title">Messaging</h1>
      <div class="control-container flex-row flex-start">
        <div class="control-list full-width flex-column flex-start">
          {{#each assignments}}
            <a class="assignment-item message" id="message-assignment" href="/control-dash/message/assignment/{{assignmentid}}">
              <h3 class="assign-message-title">{{title}}</h3>
              <div class="assign-message-list flex-column flex-start">
                {{#each lastMessage assignmentid}}
                  <div class="assign-message-item flex-column flex-start">
                    <div class="full-width flex-row flex-start">
                      <span class="assign-message-sender">Last message by <span class="bold">{{getSender senderid}}</span></span>
                      <span class="assign-message-date">{{formatFullDate datecreated}}</span>
                    </div>
                    <span class="assign-message-details">{{condenseMessage content}}</span>
                  </div>
                {{/each}}
              </div>
            </a>
          {{/each}}
        </div>
      </div>
    </div>
  </div>

  <!--Create Modals-->
  <div class="form-modal full-border flex-column flex-start" id="agent-add">
    {{> createAgent}}
  </div>
  <div class="form-modal full-border flex-column flex-start" id="assignment-add">
    {{> createAssignment}}
  </div>

  <!--Edit Modals-->
  <div class="form-modal full-border flex-column flex-start" id="agent-edit">
    {{> editAgent}}
  </div>
  <div class="form-modal full-border flex-column flex-start" id="assignment-edit">
    {{> editAssignment}}
  </div>

  <!--Message Modals-->
  <div class="form-modal large-modal full-border flex-column flex-start" id="assignment-message">
    {{> messageAssignment}}
  </div>

  <div class="form-bg"></div>
  <div class="login-panel flex-row">
    <button id="logout">Logout</button>
  </div>
</template>
