<template name="controllerDashboard">
  <div class="controller-header">
    <h1>Welcome, {{controllerCallsign}}</h1>
  </div>

  <div class="section-container flex-column flex-start">
    <div class="control-section flex-column flex-start">
      <h1>Agent Control</h1>
      <div class="control-container flex-row flex-start">
        <div class="control-list flex-column flex-start">
          {{#each agents}}
            <div class="control-item flex-row flex-start">
              <p>{{callsign}} ({{name}}, {{email}}) - {{type}}</p>
            </div>
          {{/each}}
        </div>
        <div class="control-add">
          <a href="create-agent">Add an Agent</a>
        </div>
      </div>
    </div>
    <div class="control-section flex-column flex-start">
      <h1>Assignment Control</h1>
      <div class="control-container flex-row flex-start">
        <div class="control-list flex-column flex-start">
          {{#each assignments}}
            {{title}}
          {{/each}}
        </div>
        <div class="control-add">
          <a href="create-assignment">Add an Assignment</a>
        </div>
      </div>
    </div>
  </div>

  <button id="logout">Logout</button>
</template>
