<template name="messageAssignment">
  <div class="form-container flex-column flex-start">
    <div class="message-list flex-column flex-start">
      {{#each messages}}
        <div class="message-item full-border">
          <div class="message-content"><span>{{content}}</span></div>
          <div class="message-details flex-row flex-start">
            <span class="message-sender">{{getSender senderid}}</span>
            <span class="message-date">{{formatFullDate datecreated}}</span>
          </div>
        </div>
      {{/each}}
    </div>
    {{#autoForm collection="Messages" id="sendMessage" type="insert" class="add-form"}}
      <fieldset class="form-fieldset flex-column flex-start">
          <div class="hidden">
            {{> afFieldInput name='senderid'}}
            {{> afFieldInput name='datecreated'}}
          </div>
          <div class="form-field flex-row flex-start">
            <span>Create Message:</span>
            {{> afFieldInput name='content' type='text'}}
          </div>
          <div class="button-container flex-row">
            <button id="close-form">Close</button>
            <button id="submit-form" type="submit">Send</button>
          </div>
      </fieldset>
    {{/autoForm}}
  </div>
</template>
