/*Globals*/
body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  color: #FFF;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: #000;
  background-image: radial-gradient(#333 5%, transparent 0);
  background-size: 40px 40px;
}

body * {
  box-sizing: border-box;
}

textarea {
  background: transparent;
  color: #FFF;
  font-family: 'Raleway', sans-serif;
  font-size: 1.4em;
  border: 0;
  margin: 40px 0;
  width: 100%;
  height: 20vh;
  min-height: 100px;
  max-height: 200px;
  resize: none;
  border: 2px solid #FFF;
  animation: border-color-shift 10s ease infinite;
  -webkit-animation: border-color-shift 10s ease infinite;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.hidden {
  display: none !important;
}

button {
  font-family: 'Raleway', sans-serif !important;
  background: transparent;
  color: #FFF;
  font-size: 1.2em !important;
  font-weight: 800;
  text-transform: uppercase !important;
  letter-spacing: 2px;
  border: 0;
}

button::after {
  display: block;
  content: "";
  height: 4px;
  width: 60%;
  border-bottom: 2px solid #FFF;
  animation: border-color-shift 10s ease infinite;
  -webkit-animation: border-color-shift 10s ease infinite;
  transition: width 300ms ease;
  -webkit-transition: width 300ms ease;
}

button a {
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
  color: #FFF;
}

button:hover {
  cursor: pointer;
}

button:hover::after {
  width: 100%;
  animation: border-color-highlight 300ms ease 1;
  -webkit-animation: border-color-highlight 300ms ease 1;
}

input {
  color: #FFF;
  background: transparent;
  border: 0;
  border-bottom: 2px solid #FFF;
  animation: border-color-shift 10s ease infinite;
  -webkit-animation: border-color-shift 10s ease infinite;
}

input:focus {
  animation: border-color-highlight 300ms ease 1;
  -webkit-animation: border-color-highlight 300ms ease 1;
}

select {
  margin: 20px 0 !important;
  font-family: 'Raleway', sans-serif !important;
  border: 0;
  font-size: 1.3em !important;
  font-weight: 600;
  background: transparent;
  color: #FFF;
}

select option {
  background: #000;
}

a {
  text-decoration: none;
  color: #FFF;
}

/*Animations*/
@keyframes background-shift {
  0%, 100% {
    background-color: #3444F2;
  }
  50% {
    background-color: #DF2779;
  }
}

@keyframes border-color-shift {
  0%, 100% {
    border-color: #3444F2;
  }
  50% {
    border-color: #DF2779;
  }
}

@keyframes border-warning-shift {
  0%, 100% {
    border-color: #FF6961;
  }
  50% {
    border-color: #FF2015;
  }
}

@keyframes border-color-highlight {
  0% {
    border-color: #3444F2;
  }
  100% {
    border-color: #FFF;
  }
}

/*Flexboxes*/
.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-start {
  justify-content: flex-start;
  align-items: flex-start;
}

/*Containers*/
.full-border {
  border: 2px solid #FFF;
  border-radius: 10px;
  animation: border-color-shift 10s ease infinite;
  -webkit-animation: border-color-shift 10s ease infinite;
}

.bottom-border {
  border: 0;
  border-bottom: 2px solid #FFF;
  animation: border-color-shift 10s ease infinite;
  -webkit-animation: border-color-shift 10s ease infinite;
}

/*Login View*/
.login-container {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background: #000;
  color: #FFF;
}

.login-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30vw;
  height: 50vh;
  min-width: 400px;
  min-height: 600px;
  max-width: 600px;
  max-height: 1000px;
}

.login-box .login-image {
  height: 150px;
  width: auto;
  margin-bottom: 40px;
}

.login-form .login-title {
  font-size: 1.3em;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.login-field label {
  display: none;
}

.login-field input {
  margin: 10px 0;
  font-size: 1.3em;
  background: transparent;
  color: #FFF;
}

.login-field input:focus {
  animation: border-color-highlight 300ms ease 1;
  -webkit-animation: border-color-highlight 300ms ease 1;
}

.login-button {
  margin: 10px 0;
}

.control-add a::after {
  display: block;
  content: "";
  height: 4px;
  width: 60%;
  border-bottom: 2px solid #FFF;
  animation: border-color-shift 10s ease infinite;
  -webkit-animation: border-color-shift 10s ease infinite;
  transition: width 300ms ease;
  -webkit-transition: width 300ms ease;
}

.control-add a:hover::after {
  width: 100%;
  animation: border-color-highlight 300ms ease 1;
  -webkit-animation: border-color-highlight 300ms ease 1;
}


/*Controller Dashboard View*/
.controller-header {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.controller-header h1 {
  font-size: 3em;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.vertical-divider {
  height: 60px;
  width: 4px;
  margin: 0 40px;
  background-color: #FFF;
  animation: background-shift 10s ease infinite;
  -webkit-animation: background-shift 10s ease infinite;
}

.section-container {
  position: absolute;
  top: 180px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 1024px;
}

.control-section {
  width: 100%;
  position: absolute;
  top: 0;
  left: 400px;
  transition: left 400ms ease;
  -webkit-transition: left 400ms ease;
}

.control-section .control-title,
.control-section.active .control-title {
  transition: color 400ms ease-out;
  -webkit-transition: color 400ms ease-out;
}

.control-section .control-title {
  color: #888;
  z-index: 999;
  border-bottom: 0;
}

.control-section.active .control-title {
  color: #FFF;
  z-index: 999;
}

.control-section .control-title::after {
  width: 20%;
}

.control-section.active .control-title::after {
  width: 60%;
}

.control-section .control-container {
  display: none;
}

.control-section.active .control-container {
  display: inherit;
}

.control-section.active {
  left: 0;
}

.control-title::after {
  display: block;
  content: "";
  height: 8px;
  border-bottom: 2px solid #FFF;
  animation: border-color-shift 10s ease infinite;
  -webkit-animation: border-color-shift 10s ease infinite;
  transition: width 300ms ease;
  -webkit-transition: width 300ms ease;
}

.control-section:not(.active) .control-title:hover {
  cursor: pointer;
}

.control-section:not(.active) .control-title:hover::after {
  width: 100%;
  animation: border-color-highlight 300ms ease 1;
  -webkit-animation: border-color-highlight 300ms ease 1;
}

.control-container {
  margin: 20px;
  width: 100%;
}

.control-list {
  height: 30vh;
  min-height: 300px;
  max-height: 600px;
  width: 40%;
  max-width: 600px;
  min-width: 500px;
  overflow-y: auto;
}

.control-item {
  width: 100%;
  padding: 10px;
  background: #000;
  transition: background 300ms ease;
  -webkit-transition: background 300ms ease;
}

.control-item:hover {
  cursor: pointer;
  background: #3444F2;
}

.control-item p {
  align-self: center;
  font-weight: 600;
}

.control-add {
  align-self: center;
  margin-left: 100px;
}

.control-add a {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #FFF;
  font-weight: 800;
}

/*Form Modals*/
.form-modal {
  position: absolute;
  top: -200vh;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  background: #000;
  transition: top 0s ease, opacity 400ms ease;
  -webkit-transition: top 0s ease, opacity 400ms ease;
  z-index: 999;
}

.form-modal.active {
  top: 50%;
  opacity: 1;
}

/*Form Controls*/
.form-header {
  margin: 20px 40px;
}

.form-header h1 {
  font-size: 3em;
}

.form-container {
  margin: 20px;
}

.form-fieldset {
  border: 0;
  width: 40vw;
}

.form-fieldset input {
  width: 100%;
  font-size: 1.3em;
  margin: 20px 0;
}

.form-field {
  justify-content: flex-start;
  align-items: center;
}

.form-field span {
  font-size: 1.4em;
  font-weight: 800;
  width: 40%;
  max-width: 150px;
  margin-right: 20px;
}

.button-container {
  margin: 40px 0;
}

.button-container button {
  margin-right: 40px;
}
