/*Form Modals*/
.form-modal {
  position: absolute;
  top: -200vh;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  background: #000;
  transition: top 0s ease, opacity 400ms ease;
  -webkit-transition: top 0s ease, opacity 400ms ease;
  z-index: 999;
}

.form-modal.large-modal {
  width: 60vw;
  height: 80vh;
}

.form-modal.active {
  top: 50%;
  opacity: 1;
}

/*Form Details*/
.form-header {
  margin: 20px 40px;
}

.form-header h1 {
  font-size: 3em;
}

.form-container {
  margin: 20px;
}

.form-fieldset {
  border: 0;
  width: 40vw;
}

.form-fieldset input {
  width: 100%;
  max-width: 100%;
  font-size: 1.3em;
  margin: 20px 0;
}

.button-container {
  margin: 40px 0;
  width: 100%;
}

.button-container button {
  margin-right: 40px;
}

.delete-button {
  margin-left: auto;
  color: #FF2015;
  animation: border-warning-shift 10s ease infinite;
  -webkit-animation: border-warning-shift 10s ease infinite;
}

/*View Details*/
.view-container {
  width: 50vw;
  min-width: 300px;
  max-width: 1024px;
  margin: 20px;
}

.view-title,
.view-description,
.view-panel {
  width: 100%;
  padding: 20px;
}

.view-title h1 {
  font-size: 3em;
  margin: 20px 0 0 0;
}

.view-title h1::after {
  display: block;
  content: "";
  height: 10px;
  width: 40vw;
  max-width: 500px;
  border-bottom: 6px solid #FFF;
  margin-bottom: 10px;
  animation: border-color-shift 10s ease infinite;
  -webkit-animation: border-color-shift 10s ease infinite;
}

.view-details {
  width: 100%;
}

.view-details h4,
.view-description h4 {
  font-size: 1.4em;
  font-weight: 600;
  margin: 10px 0;
}

.view-details h4:last-child {
  margin-left: auto;
}

.view-description span {
  font-size: 1.3em;
  margin: 10px 0;
}

.view-description span.view-desc {
  max-height: 400px;
  line-height: 1.4em;
  overflow-y: auto;
  margin: 20px 10px;
}

.view-description span.view-type,
.view-description span.view-deadline {
  font-size: 1.4em;
  font-weight: 800;
}

.view-description h3 {
  font-size: 2em;
  margin: 10px 0;
}

/*Form Background*/
.form-bg {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  height: 100vh;
  width: 100vw;
  z-index: 998;
  margin: 0;
  padding: 0;
  background: rgba(0,0,0,0);
}

.form-bg.active {
  display: block;
  background: rgba(0,0,0,0.7);
}

/*Form Controls*/
.form-header {
  margin: 20px 40px;
}

.form-header h1 {
  font-size: 3em;
}

.form-container {
  margin: 20px;
}

.form-fieldset {
  border: 0;
  width: 40vw;
}

.form-fieldset input {
  width: 100%;
  font-size: 1.3em;
  margin: 20px 0;
}

.form-field {
  justify-content: flex-start;
  align-items: center;
}

.form-field span {
  font-size: 1.4em;
  font-weight: 800;
  width: 40%;
  max-width: 150px;
  margin-right: 20px;
}

.button-container {
  margin: 40px 0;
}

.button-container button {
  margin-right: 40px;
}

/*Message Forms*/
.message-container {
  height: 100vh;
  padding: 0 40px;
  margin: 0;
}

.message-assignment-container,
.message-list,
.message-form {
  width: 80%;
  max-width: 1024px;
}

.message-assignment-container::after {
  content: "";
  border-bottom: 2px solid #FFF;
  width: 80%;
  margin-bottom: 10px;
  animation: border-color-shift 10s ease infinite;
  -webkit-animation: border-color-shift 10s ease infinite;
}

.message-assignment-container h3 {
  font-size: 3em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin: 40px 0 20px 0;
}

.message-assignment-container span {
  font-size: 1.3em;
  margin-right: 20px;
}

.message-assignment-details {
  width: 100%;
  margin-bottom: 40px;
}

.message-assignment-deadline {
  margin-left: auto;
  font-weight: 700;
}

.message-list {
  width: 100%;
  height: 80%;
  min-height: 600px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 10px;
}

.message-form {
  width: 100%;
  margin-top: auto;
}

.message-form fieldset {
  width: 100%;
}

.message-item {
  width: 100%;
  margin: 10px 0;
  animation: fadeIn 600ms ease-out 1, border-color-shift 10s ease infinite;
  -webkit-animation: fadeIn 600ms ease-out 1, border-color-shift 10s ease infinite;
}

.message-item.sender::after {
  display: block;
  text-align: right;
  content: "";
  width: 0;
  height: 0;
  border-top: 10px solid #FFF;
  border-left: 20px solid transparent;
  margin-top: 5px;
}

.message-content {
  padding: 20px;
}

.message-details {
  width: 10%;
  height: 100%;
}

.message-details.left {
  margin-right: 20px;
}

.message-details.right {
  margin-left: 20px;
}

.message-sender {
  font-size: 2em;
  font-weight: 700;
}


.message-text {
  font-size: 1.3em;
}

.message-text.right {
  margin-left: auto;
}

.message-date {
  margin-top: 20px;
  font-style: italic;
  color: #BBB;
}

.message-date.right {
  margin-left: auto;
}
