/*Controller Dashboard View*/
.controller-header {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.controller-header h1 {
  font-size: 3em;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.vertical-divider {
  height: 60px;
  width: 4px;
  margin: 0 40px;
  background-color: #FFF;
  animation: background-shift 10s ease infinite;
  -webkit-animation: background-shift 10s ease infinite;
}

.section-container {
  position: absolute;
  top: 180px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 1024px;
}

.control-section {
  width: 100%;
  position: absolute;
  top: 0;
  left: 400px;
  transition: left 400ms ease;
  -webkit-transition: left 400ms ease;
}

.control-section .control-title,
.control-section.active .control-title {
  transition: color 400ms ease-out;
  -webkit-transition: color 400ms ease-out;
}

.control-section .control-title {
  color: #888;
  z-index: 999;
  border-bottom: 0;
}

.control-section.active .control-title {
  color: #FFF;
  z-index: 999;
}

.control-section .control-title::after {
  width: 20%;
}

.control-section.active .control-title::after {
  width: 60%;
}

.control-section .control-container {
  display: none;
}

.control-section.active .control-container {
  display: inherit;
}

.control-section.active {
  left: 0;
}

.control-title::after {
  display: block;
  content: "";
  height: 8px;
  border-bottom: 2px solid #FFF;
  animation: border-color-shift 10s ease infinite;
  -webkit-animation: border-color-shift 10s ease infinite;
  transition: width 300ms ease;
  -webkit-transition: width 300ms ease;
}

.control-section:not(.active) .control-title:hover {
  cursor: pointer;
  color: #FFF;
}

.control-section:not(.active) .control-title:hover::after {
  width: 100%;
  animation: border-color-highlight 300ms ease 1;
  -webkit-animation: border-color-highlight 300ms ease 1;
}

.control-container {
  margin: 20px;
  width: 100%;
}

.control-list {
  height: 30vh;
  min-height: 300px;
  max-height: 600px;
  width: 40%;
  max-width: 600px;
  min-width: 500px;
  overflow-y: auto;
}

.control-list a {
  width: 100%;
}

.control-item:first-child {
  border-top: 1px solid #FFF;
}

.control-item {
  width: 100%;
  padding: 15px 10px;
  border-bottom: 1px solid #FFF;
  background: transparent;
}

.control-item:hover {
  cursor: pointer;
  animation: button-radial 150ms ease 1;
  -webkit-animation: button-radial 150ms ease 1;
  animation-fill-mode: forwards;
}

.control-item span {
  font-size: 1.2em;
  align-self: center;
  font-weight: 400;
}

.control-panel {
  margin-left: 100px;
}

.control-panel button {
  margin: 10px 0;
}


/*Agent Dashboard View*/
.dash-section {
  width: 100%;
  padding: 20px 40px 40px 40px;
}

.dash-title {
  font-size: 3em;
}

.dash-title::after {
  display: block;
  content: "";
  height: 10px;
  width: 40vw;
  max-width: 500px;
  border-bottom: 6px solid #FFF;
  animation: border-color-shift 10s ease infinite;
  -webkit-animation: border-color-shift 10s ease infinite;
}

.dash-list {
  width: 100%;
}

.dash-item {
  width: 100%;
  padding: 25px 20px;
  border-bottom: 1px solid #FFF;
  background: transparent;
}

.dash-item:first-child {
  border-top: 1px solid #FFF;
}

.dash-item span {
  font-size: 1.2em;
  margin: 5px 10px 5px 0;
}

.dash-item span.dash-item-title {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 1.8em;
  font-weight: 800;
}

.dash-item-details {
  width: 100%;
}

.dash-item-details.bold {
  font-weight: 600;
}

.dash-controller {
  align-self: flex-end;
  margin-left: auto !important;
}

.dash-panel {
  width: 100%;
  margin-top: 20px;
}
