/*Globals*/
body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  color: #FFF;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: #000;
  background-image: radial-gradient(#333 5%, transparent 0);
  background-size: 40px 40px;
}

body * {
  box-sizing: border-box;
}

textarea {
  background: transparent;
  color: #FFF;
  font-family: 'Raleway', sans-serif;
  font-size: 1.4em;
  border: 0;
  margin: 40px 0;
  width: 100%;
  height: 20vh;
  min-height: 100px;
  max-height: 200px;
  resize: none;
  border: 2px solid #FFF;
  animation: border-color-shift 10s ease infinite;
  -webkit-animation: border-color-shift 10s ease infinite;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.hidden {
  display: none !important;
}

button {
  font-family: 'Raleway', sans-serif !important;
  background: transparent;
  color: #FFF;
  font-size: 1.2em !important;
  font-weight: 800;
  text-transform: uppercase !important;
  text-align: left !important
  letter-spacing: 2px;
  border: 0;
  border-radius: 0;
  padding: 5px 8px;
}



button::after {
  display: block;
  content: "";
  height: 4px;
  width: 60%;
  border-bottom: 2px solid #FFF;
  animation: border-color-shift 10s ease infinite;
  -webkit-animation: border-color-shift 10s ease infinite;
  transition: width 300ms ease;
  -webkit-transition: width 300ms ease;
}

button a {
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
  color: #FFF;
}

button:hover,
button:active {
  cursor: pointer;
  animation: button-radial 150ms ease 1;
  -webkit-animation: button-radial 150ms ease 1;
  animation-fill-mode: forwards;
}

button:hover::after {
  width: 100%;
  animation: border-color-highlight 300ms ease 1;
  -webkit-animation: border-color-highlight 300ms ease 1;
}

input {
  color: #FFF;
  background: transparent;
  border: 0;
  border-bottom: 2px solid #FFF;
  animation: border-color-shift 10s ease infinite;
  -webkit-animation: border-color-shift 10s ease infinite;
}

input:focus {
  animation: border-color-highlight 300ms ease 1;
  -webkit-animation: border-color-highlight 300ms ease 1;
}

select {
  margin: 20px 0 !important;
  font-family: 'Raleway', sans-serif !important;
  border: 0;
  font-size: 1.3em !important;
  font-weight: 600;
  background: transparent;
  color: #FFF;
}

select option {
  background: #000;
}

a {
  text-decoration: none;
  color: #FFF;
}

/*Animations*/
@keyframes background-shift {
  0%, 100% {
    background-color: #3444F2;
  }
  50% {
    background-color: #DF2779;
  }
}

@keyframes border-color-shift {
  0%, 100% {
    border-color: #3444F2;
  }
  50% {
    border-color: #DF2779;
  }
}

@keyframes border-warning-shift {
  0%, 100% {
    border-color: #FF6961;
  }
  50% {
    border-color: #FF2015;
  }
}

@keyframes border-color-highlight {
  0% {
    border-color: #3444F2;
  }
  100% {
    border-color: #FFF;
  }
}

@keyframes button-radial {
  0% {
    background: radial-gradient(circle at center, #3d3bdf 0%, #000 0%, #000 100%);
  }
  5% {
    background: radial-gradient(circle at center, #4d2cdf 4%, #000 10%, #000 100%);
  }
  10% {
    background: radial-gradient(circle at center, #652cdf 9%, #000 10%, #000 100%);
  }
  17.5% {
    background: radial-gradient(circle at center, #7a26df 16.5%, #000 25%, #000 100%);
  }
  25% {
    background: radial-gradient(circle at center, #7a26df 24%, #000 25%, #000 100%);
  }
  32.5% {
    background: radial-gradient(circle at center, #7a26df 31%, #000 25%, #000 100%);
  }
  40% {
    background: radial-gradient(circle at center, #8023df 39%, #000 40%, #000 100%);
  }
  50% {
    background: radial-gradient(circle at center, #982adf 49%, #000 50%, #000 100%);
  }
  60% {
    background: radial-gradient(circle at center, #cf25df 59%, #000 60%, #000 100%);
  }
  67.5% {
    background: radial-gradient(circle at center, #cf25df 66%, #000 60%, #000 100%);
  }
  75% {
    background: radial-gradient(circle at center, #df28d7 74%, #000 75%, #000 100%);
  }
  82.5% {
    background: radial-gradient(circle at center, #df28d7 81%, #000 75%, #000 100%);
  }
  90% {
    background: radial-gradient(circle at center, #df20c8 89%, #000 90%, #000 100%);
  }
  95% {
    background: radial-gradient(circle at center, #df20c8 94%, #000 90%, #000 100%);
  }
  100% {
    color: #fff;
    background: radial-gradient(circle at center, #DF2779 99%, #000 100%, #000 100%);
  }
}

/*Flexboxes*/
.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-start {
  justify-content: flex-start;
  align-items: flex-start;
}

.full-width {
  width: 100%;
}

/*Containers*/
.full-border {
  border: 2px solid #FFF;
  border-radius: 10px;
  animation: border-color-shift 10s ease infinite;
  -webkit-animation: border-color-shift 10s ease infinite;
}

.bottom-border {
  border: 0;
  border-bottom: 2px solid #FFF;
  animation: border-color-shift 10s ease infinite;
  -webkit-animation: border-color-shift 10s ease infinite;
}
