/*Login View*/
.login-container {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background: #000;
  color: #FFF;
}

.login-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30vw;
  height: 50vh;
  min-width: 400px;
  min-height: 600px;
  max-width: 600px;
  max-height: 1000px;
}

.login-box .login-image {
  height: 150px;
  width: auto;
  margin-bottom: 40px;
}

.agent-box .login-image.agent-image {
  transform: scale(1);
  transition: transform 300ms ease;
  -webkit-transition: transform 300ms ease;
}

.agent-box .login-image.agent-image:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.login-form .login-title,
.agent-box .login-title {
  font-size: 1.3em;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.login-field label {
  display: none;

}

.login-field input,
.agent-box form input {
  margin: 10px 0;
  font-size: 1.3em;
  background: transparent;
  text-align: center;
  color: #FFF;
}

.login-field input:focus {
  animation: border-color-highlight 300ms ease 1;
  -webkit-animation: border-color-highlight 300ms ease 1;
}

.login-button {
  margin: 10px 0;
}

.control-add a::after {
  display: block;
  content: "";
  height: 4px;
  width: 60%;
  border-bottom: 2px solid #FFF;
  animation: border-color-shift 10s ease infinite;
  -webkit-animation: border-color-shift 10s ease infinite;
  transition: width 300ms ease;
  -webkit-transition: width 300ms ease;
}

.control-add a:hover::after {
  width: 100%;
  animation: border-color-highlight 300ms ease 1;
  -webkit-animation: border-color-highlight 300ms ease 1;
}

/*Login/Logout Controls*/
.login-panel {
  position: fixed;
  bottom: 20px;
  left: 20px;
  justify-content: flex-start;
  align-items: center;
}
