/*Globals*/
body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  background-color: #000;
  color: #FFF;
  margin: 0;
  padding: 0;
}

body * {
  box-sizing: border-box;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.hidden {
  display: none;
}

/*Animations*/
@keyframes border-color-shift {
  0%, 100% {
    border-color: #3444F2;
  }
  50% {
    border-color: #DF2779;
  }
}

@keyframes border-color-highlight {
  0% {
    border-color: #3444F2;
  }
  100% {
    border-color: #FFF;
  }
}

/*Flexboxes*/
.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-start {
  justify-content: flex-start;
  align-items: flex-start;
}

/*Containers*/
.full-border {
  border: 2px solid #FFF;
  border-radius: 10px;
  animation: border-color-shift 10s ease infinite;
  -webkit-animation: border-color-shift 10s ease infinite;
}

.bottom-border {
  border: 0;
  border-bottom: 2px solid #FFF;
  animation: border-color-shift 10s ease infinite;
  -webkit-animation: border-color-shift 10s ease infinite;
}

/*Login View*/
.login-container {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background: #000;
  color: #FFF;
}

.login-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30vw;
  height: 50vh;
  min-width: 400px;
  min-height: 600px;
  max-width: 600px;
  max-height: 1000px;
}

.login-box .login-image {
  height: 150px;
  width: auto;
  margin-bottom: 40px;
}

.login-form .login-title {
  font-size: 1.3em;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.login-field label {
  display: none;
}

.login-field input {
  margin: 10px 0;
  font-size: 1.3em;
  background: transparent;
  color: #FFF;
}

.login-field input:focus {
  animation: border-color-highlight 300ms ease 1;
  -webkit-animation: border-color-highlight 300ms ease 1;
}

.login-button {
  margin: 10px 0;
  padding: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.2em;
  font-weight: 700;
  background: transparent;
  color: #FFF;
  border: 0;
}

.login-button::after,
.control-add a::after {
  display: block;
  content: "";
  height: 4px;
  width: 60%;
  border-bottom: 2px solid #FFF;
  animation: border-color-shift 10s ease infinite;
  -webkit-animation: border-color-shift 10s ease infinite;
  transition: width 300ms ease;
  -webkit-transition: width 300ms ease;
}

.login-button:hover {
  cursor: pointer;
}

.login-button:hover::after,
.control-add a:hover::after {
  width: 100%;
  animation: border-color-highlight 300ms ease 1;
  -webkit-animation: border-color-highlight 300ms ease 1;
}


/*Controller Dashboard View*/
.controller-header {
  margin: 40px;
}

.controller-header h1 {
  font-size: 4em;
}

.section-container {
  margin: 60px;
}

.control-section h1::after {
  display: block;
  content: "";
  height: 8px;
  width: 600px;
  border-bottom: 2px solid #FFF;
  animation: border-color-shift 10s ease infinite;
  -webkit-animation: border-color-shift 10s ease infinite;
}

.control-container {
  margin: 20px;
}

.control-list {
  height: 30vh;
  min-height: 300px;
  max-height: 600px;
  overflow-y: auto;
}

.control-add a {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #FFF;
  font-weight: 800;
}
