<template name="messageAssignment">
  <div class="form-container message-container flex-column flex-center">
    {{#each assignment}}
      <div class="message-assignment-container flex-column flex-center">
        <h3>{{title}}</h3>
        <div class="message-assignment-details flex-row flex-start">
          <span class="message-assignment-type">Type: {{type}}</span>
          <span class="message-assignment-type">Assigned to: {{getAgent agentid}}</span>
          <span class="message-assignment-deadline">Due {{formatDateFromNow deadline}}</span>
        </div>
      </div>
    {{/each}}
    <div class="message-list">
      {{#each messages}}
        {{#if isSender senderid}}
          <div class="message-item sender flex-column flex-end">
            <div class="message-content full-border flex-column flex-start">
              <span class="message-text right">{{content}}</span>
              <span class="message-date right">{{formatFullDate datecreated}} ({{formatDateFromNow datecreated}})</span>
            </div>
          </div>
        {{else}}
          <div class="message-item flex-row flex-start">
            <div class="message-details left flex-column flex-center">
              <span class="message-sender">{{getSender senderid}}</span>
            </div>
            <div class="message-content full-border flex-column flex-start">
              <span class="message-text left">{{content}}</span>
              <span class="message-date left">{{formatFullDate datecreated}} ({{formatDateFromNow datecreated}})</span>
            </div>
          </div>
        {{/if}}
      {{/each}}
    </div>
    <div class="message-form">
      {{#autoForm collection="Messages" id="sendMessage" type="insert" class="add-form"}}
        <fieldset class="form-fieldset flex-column flex-start">
            <div class="hidden">
              {{> afFieldInput name='senderid'}}
              {{> afFieldInput name='datecreated'}}
            </div>
            <div class="form-field flex-row flex-start">
              <span>Create Message:</span>
              {{> afFieldInput name='content' type='text'}}
            </div>
            <div class="button-container flex-row">
              <button id="close-form">Back</button>
              <button id="submit-form" type="submit">Send Message</button>
            </div>
        </fieldset>
      {{/autoForm}}
    </div>
  </div>
</template>
