<template name="editAgent">
  <div class="controller-header flex-row flex-center">
    <h1>Agent</h1>
    <div class="vertical-divider"></div>
    <h1>Edit</h1>
  </div>
  {{#each agentdetail}}
    <div class="form-container flex-column flex-center">
      {{#autoForm collection="Agents" id="editAgent" doc=this type="update" class="edit-form"}}
        <fieldset class="form-fieldset flex-column flex-start">
            <div class="hidden">
              {{> afFieldInput name='agentid'}}
              {{> afFieldInput name='datecreated'}}
            </div>
            <div class="form-field-row flex-row">
              <div class="form-field flex-row flex-start">
                <span>Full Name:</span>
                {{> afFieldInput name='name' type='text'}}
              </div>
              <div class="form-field flex-row flex-start">
                <span>Email:</span>
                {{> afFieldInput name='email' type='text' }}
              </div>
            </div>
            <div class="form-field-row flex-row">
              <div class="form-field flex-row flex-start">
                <span>Agent Type:</span>
                {{> afFieldInput name='type' type='select' options="allowed"}}
              </div>
              <div class="form-field flex-row flex-start">
                <span>Callsign:</span>
                {{> afFieldInput name='callsign' type='text'}}
              </div>
              <div class="form-field flex-row flex-start">
                <span>Status:</span>
                {{> afFieldInput name='status' type='select' options="allowed"}}
              </div>
            </div>
            <div class="button-container flex-row">
              <button id="cancel-form">Cancel</button>
              <button id="submit-form" type="submit">Update</button>
              {{#quickRemoveButton collection="Agents" _id=this._id id="delete-form" class="delete-button" type="button" beforeRemove=beforeRemove onSuccess=onSuccess}}Delete{{/quickRemoveButton}}
            </div>
        </fieldset>
      {{/autoForm}}
    </div>
  {{/each}}
</template>
