<template name="editAssignment">
  <div class="form-header">
    <h1>Edit Assignment</h1>
  </div>
  {{#each assignmentdetail}}
  <div class="form-container flex-column flex-start">
    {{#autoForm collection="Assignments" id="editAssignment" doc=this type="update" class="edit-form"}}
        <fieldset class="form-fieldset flex-column flex-start">
            <div class="hidden">
              {{> afFieldInput name='assignmentid'}}
              {{> afFieldInput name='datecreated'}}
              {{> afFieldInput name='controllerid'}}
            </div>
            <div class="form-field flex-row flex-start">
              <span>Title:</span>
              {{> afFieldInput name='title' type='text'}}
            </div>
            <div class="form-field flex-row flex-start">
              <span>Description:</span>
              {{> afFieldInput name='desc' type='textarea'}}
            </div>
            <div class="form-field flex-row flex-start">
              <span>Deadline:</span>
              {{> afFieldInput name='deadline' type='date'}}
            </div>
            <div class="form-field flex-row flex-start">
              <span>Status:</span>
              {{> afFieldInput name='status' type='select' options="allowed"}}
            </div>
            <div class="form-field flex-row flex-start">
              <span>Assignment Type:</span>
              {{> afFieldInput name='type' type='select' options="allowed"}}
            </div>
            <div class="form-field flex-row flex-start">
              <span>Agent Assigned:</span>
              {{> afFieldInput name='agentid' type="select" options=agentOptions}}
            </div>
            <div class="button-container flex-row flex-start">
              <button id="cancel-form"><a href="/control-dash">Cancel</a></button>
              <button id="submit-form" type="submit">Update</button>
              {{#quickRemoveButton collection="Assignments" _id=this._id id="delete-form" class="delete-button" type="button" beforeRemove=beforeRemove onSuccess=onSuccess}}Delete{{/quickRemoveButton}}
            </div>
        </fieldset>
    {{/autoForm}}
  </div>
  {{/each}}
</template>
